* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 90%x;
    margin: 0 auto;
    padding: 0 auto;

}

.box {
    display: inline-block;
    width: calc((100% / 3) - 4px);
}
